:root{
    --primary- :#7264f0;
    --secondary- :#350042;
    --danger- : #ff3333;
    --gray- :#c9bfbf;
    --light- :#f5f4f4;
    --white- :#ffffff;
    --dark- :#303000;
    --info- : #088ffd;
    --warning- : yellow
}