:root{
    --primary- :#7d70f1;
    --secondary- :#59bc1b;
    --danger- : #ff3333;
    --gray- :#e4e0e0;
    --light- :#f5f4f4;
    --white- :#ffffff;
    --dark- :#303000;
    --info- : #088ffd;
    --warning- : yellow
}